@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --primary-color : #0A2647;
    --secondary-color: #150050;
    --button: #FB2576;
    --light-blue: #D6D1F5;
    --gradient: linear-gradient(to left, var(--primary-color), var(--primary-color));
    --logo-gradient: linear-gradient(to left, red, transparent);
}

body {
    font-family: 'Poppins', sans-serif;
}

.link {
    color: #fff;
    display: inline-block;
}

.logo {
    font-weight: 700;
    display: flex;
    align-items: center;
    border-bottom: 2px solid;
    border-color: var(--button);
    width: fit-content;
}

.logo i {
    color: var(--button);
}

.logo span {
    margin-right: .6rem;
}